<section id="header">
    <article>
        <nav>
            <ul>
                <li class="home"><a href="./" class="icon-home"></a></li>
                <li><a href="./church.html" class="arrow-w">豊沢教会について</a</li>
                <li><a href="./service.html" class="arrow-w">礼拝・集会</a></li>
                <li><a href="./c-school.html" class="arrow-w">教会学校・のあ文庫</a></li>
                <li><a href="./event.html" class="arrow-w">年間の行事予定</a></li>
                <li><a href="./map.html" class="arrow-w">地図・アクセス</a></li>
            </ul>
        </nav>
    </article>
</section>